@model List<EntityLayer.Concrete.Student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <td>Öğrenci Adı</td>
        <td>Öğrenci Soyadı</td>
        <td>Öğrenci Departmanı</td>
        <td>Doğum Tarihi</td>
        <td>Kayıt Tarihi</td>
        <td>Dönemi</td>
        <td>Ders Atama</td>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StudentFirstName</td>
            <td>@item.StudentLastName</td>
            <td>@item.Departman.DepartmanName</td>
            <td>@(((DateTime)item.StudentBirthDay).ToString("dd-MMM-yyyy"))</td>
            <td>@(((DateTime)item.StudentRegisterDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.PeriodId</td>
            <td><a asp-controller="Student" asp-action="DersAtama" asp-route-id="@item.StudentId" class="btn btn-sm btn-primary">Assign Lesson</a></td>
        </tr>
    }
</table>

