@model List<EF_Core_MVC_Code.Models.Kitaplar>
@{
    ViewData["Title"] = "Kitap Türleri";
}
<h1>Kitaplar</h1>
<a asp-action="Create">Yeni Kitap</a>
<table class="table table-dark w-50 ">
    <thead>
        <tr>
            <th>Kitap ISBN</th>
            <th>Kitap Adı</th>
            <th >Yapılacak İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            {
                <tr>
                    <td>@item.Isbn</td>
                    <td>@item.Ad</td>
                    <td >
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Isbn">Detay</a>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Isbn">Düzenle</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Isbn">Sil</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>